body {
    display: flex ;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    border: 0;
    margin: 0;
}

header,
.intro,
footer{
    background-color: #1f2739;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}

header{
    align-items: center;
    gap: 200px;
}

.title{
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    width: 400px;
    gap: 10px;
}

li,
.secondary-text{
    color: #e5e7eb;
    font-size: 18px;
}

.secondary-text{
    width: 500px;
}

.button{
    background-color: #3882f6;
    font-weight: 0;
    font-size: 18px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 25px;
    border-radius: 5px ;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    padding: 5px 0 0 0;
}

.image {
    background-color: grey;
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 15px;
    justify-content: center;
    padding: 0;
}

.intro {
    gap: 50px;
}

.information {
    display: flex;
    flex-direction: column;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    align-items: center;
    padding: 150px;
    gap: 30px;
}

.subtext {
    font-weight: normal;
    font-size: 18px;
    margin-top: 5px;
}

.square {
    border: 3px solid #3882f6;
    border-radius: 10px;
    padding: 80px;
}

.container {
    display: flex;
    gap: 60px;
}

.tarjeta {
    width: 174px;
    text-align: center;
}

.q-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1f2937;
    width: 833px;
    align-self: center;
    padding-top: 50px;
}

.autor {
    align-self: center;
    font-size: 18px;
    font-weight: 900;
    padding-bottom: 50px;
    padding-left: 550px;
}

.call-section {
    display:flex;
    justify-content: center;
    background-color: #3882f6;
    box-sizing: border-box;
    margin: 150px 380px;
    padding: 30px;
    color: white;
    gap: 320px;
    border-radius: 5px;
}

.call-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 15px;
    padding: 3px 30px;
}

.call-text {
    font-size: 24px;
    font-weight: 600;
}

.call-subtext {
    font-size: 16px;
    font-weight: 100;
}

footer {
    padding: 45px;
}